<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ALBUM PAGE</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/stylesheet.css" th:href="@{/css/stylesheet.css}" />
</head>
<body>

	<div align="left">
		<a th:href="@{/GoToHome}"> Home </a>
	</div>
	
	<div align="right">
		<a th:href="@{/Logout}"> Logout </a>
	</div>
	
	<div align="center">
	<h1>ALBUMPAGE</h1>
	<h3 th:text="${album.titolo}"></h3>
	<p th:text="${album.user_id}"></p>
	</div>
	<hr>
	<br>
	<br>
	<br>
	<div>
		<table cellspacing = 20px>
			<tr>
			<td style='width: 100px'>
				<form action="#" th:action="@{/ButtonsHandler(parametro=${parametro}, tipo='precedente', titolo=${album.titolo}, username=${album.user_id})}" method="POST">
				<input th:type="${previous}" th:name="previous" th:value="PREVIOUS">
				</form>			
			</td>
			<td>
			<table>
				<tr>
					<td th:each="i : ${solo_5_immagini}">
						<a th:href="@{/GoToImagePage(titolo=${i.titolo}, username=${album.user_id}, percorso=${i.percorso})}">
						<!--<img th:src="@{/GetImage(titolo=${i.titolo}, percorso=${i.percorso})}" style="width:260px;height:200px"></a>-->
						<img th:src="@{/GetImage(percorso=${i.percorso})}" style="width:260px;height:200px"></a>
						<p th:text="${i.titolo}" align="center"></p>

					</td>
				</tr>
			</table>
			</td>
			

			<!-- questo bottone chiama la servlet ButtonHandler passandogli gli attributi parametro,tipo,titolo(dell'album),username(dell'album) 
			il type, cioè se il bottone si deve vedere o dev'essere hidden, è deciso a run-time in base al valore ritornato dalla Servlet GoToAlbumPage
			la quale, se ha più di 5 img, oppure calcolo fatto da ilaria, fa comparire il bottone altrimenti no
			parametro serve per sapere a che "pagina" di visualizzazione delle immagini sono
			tipo identifica il bottone che ha effettuato la chiamata-->
			
			<td style='width: 100px'>
				<form action="#" th:action="@{/ButtonsHandler(parametro=${parametro}, tipo='successivo', titolo=${album.titolo}, username=${album.user_id})}" method="POST">
					<input th:type="${next}" name="next" value="NEXT">
				</form>			
			</td>
			</tr>
		</table>
	</div>
</body>
</html>